<h1>About {{app_name}}</h1>
<h3>Version: 1.1</h3>
<p>This is an Angular 2 app that uses the Spotify Web Api to find artist, albums and track listings</p>
<hr style="border:1px solid #6AE368">

<p>Built by <span class="theme">Vera Lin</span></p>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="https://www.github.com/y276lin">&nbsp;Github&nbsp;</a>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="https://www.linkedin.com/in/y276lin">Linkedin</a>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="http://www.veralin.me">Website</a>

<hr style="border:1px solid #6AE368">

<p>Built by <span class="theme">Johnson Han</span></p>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="https://www.github.com/x65han">&nbsp;Github&nbsp;</a>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="https://www.linkedin.com/in/x65han">Linkedin</a>
<a class="bubble theme btn-primary link-bubble" target="_blank" href="http://www.JohnsonHan.com">Website</a>
