<div id="album" *ngIf="album">
    <header class="album-header">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="album.images">
                    <img class="album-thumb" src="{{album.images[0].url}}">
                </div>
            </div>
            <div class="col-md-8">
                <h4 *ngIf="album.artists">
                    <span *ngFor="let artist of album.artists">
                        {{artist.name}}
                    </span>
                </h4>
                <h2>{{album.name}}</h2>
                <h5>Release Date: {{album.release_date}}</h5>
                <a target="_blank" class="btn btn-primary theme" href="{{album.external_urls.spotify}}">View In Spotify</a>
            </div>
        </div>
    </header>

    <div class="album-tracks">
        <h2>Album Tracks</h2>
        <div *ngFor="let track of album.tracks.items;let i = index">
            <div class="well">
                <h5>{{track.track_number}} - {{track.name}}</h5>
                <button class="btn btn-primary" (click)="preview(track.preview_url, i)" *ngIf="i!=sampleIndex && track.preview_url">Preview</button>
                <button class="btn btn-primary btn-loading" *ngIf="loading && i===sampleIndex && track.preview_url">Loading</button>
                <button class="btn btn-red" (click)="preview(null, -1)" *ngIf="i==sampleIndex && !loading && track.preview_url">&nbsp;&nbsp;Pause&nbsp;&nbsp;</button>
                <span class="theme" *ngIf="!track.preview_url">preview not available</span>
            </div>
        </div>
    </div>
</div>    